.ProductCard {
    gap: .625rem;
    display: flex;
    width: 20rem;
    background-color: white;
    border-radius: 2rem;
    flex-direction: column;
    align-items: center;
    border: 1px solid #F7F5F7;
}
.product_text{
        padding: 0.7rem;

}
.description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product_img{
    border-radius: 2rem 2rem 0 0;
        width: 100%;
    background-color: #F7F5F7;
}

.tuglle_btns {
    display: flex;
    justify-content: center;
    gap: .625rem;
}

.increment_btn {
    background-color: #3A4980;
    border-radius: 6rem;
    padding: .5rem 1rem;
    color: white;
}

.add_btn {
    color: white;
    background-color: #3A4980;
    border-radius: 3.125rem;
    padding: .5rem 6.125rem;

}
.wish-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}