.register-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #f7f7f7;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.register-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.register-container form {
  display: flex;
  flex-direction: column;
}

.register-container input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.register-container input:focus {
  outline: none;
  border-color: #007bff;
}

.register-container button {
  padding: 10px;
  background-color: #3A4980;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.register-container button:hover {
  background-color: #0056b3;
}

.register-container p {
  color: red;
  margin: -10px 0 10px;
  font-size: 14px;
}
