.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #EDEDED;
    padding: 1.5625rem 5rem;
    color: #0D3356;
}
.nav a{
    text-decoration: none;
    color: #0D3356;
    font-weight: 600;
}

.buttons {
    gap: 2rem;
    display: flex;
}
.cart-count {
  background-color: #3A4980;
  color: white;
  border-radius: 50%;
  padding: 2px 8px;
  font-size: 12px;
  margin-left: 5px;
  font-weight: bold;
  display: inline-block;
  min-width: 20px;
  text-align: center;
}
